$orange:#f26522;
$orangeHover: #f26522;
$white :#ffffff;
$black :#000000;
$colorTitle:#151515;
$colorGrey:#919191;
$blueBg : #244895;
$linkHoverColor: #018fc1;
$headingColor : #383838;
$footerBg: #eaeaea;
$headerNavBg: #ebebeb;
$titleColor: #1b1a1a;
$success: #03ad03;
$error: #de2525;

