@import './colors';
@import './mixin';
@mixin checkBox {
    label {
        position: relative;
        padding-left: 29px;
        color: #363636;
        cursor: pointer;
        &:after,
        &:before {
            position: absolute;
            top: 0px;
            left: 0px;
            display: inline-block;
            @include transition(0.25s ease-in-out);
        }
        &:after {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background: #fff;
            border: 1px solid #969696;
            @include transition(300ms linear);
        }
        &:before {
            display: none !important;
            content: "\e929";
            color: #fff;
            display: inline-block;
            font-size: 14px;
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            z-index: 2;
            top: 2px;
            left: 2px;
        }
    }
    input[type="checkbox"] {
        margin-top: 0px;
        display: none;
        & + label {
            &:hover {
                // color: $orange;
                &:after {
                    border-color: #2FAEF8;
                }
            }
        }
        &:checked {
            + label {
                // color: $orange;
                &:hover {
                    // color: $orange;
                }
                &:after {
                    background-color: #2FAEF8;
                    border-color: #2FAEF8;
                    @include transition(300ms linear);
                }
                &:before {
                    display: block !important;
                }
            }
        }
    }
}

// course-listing sass
.contain-search {
    padding-top: 0px;
    padding-bottom: 0px;
    .course-list-widget {
        padding-bottom: 0px;
        padding-top: 45px;
        // padding-right: 0;
        min-height: 100px;
        .col-courses-card {
            width: 30%;
            margin-bottom: 43px;
            margin-left: 3.33%;
            float: left;
            // &:nth-child(even) {
            //     float: right;
            // }
            &.even {
                // float: right;
                // margin-right: 0px;
            }
            &.odd {
                // float: left;
            }
        }
    }
}

.user_search_course{
    padding-top: 35px;
    p{
        color: $colorGrey;
        margin-bottom: 15px;
    }
    .redir_btn-a a{
        display: inline-block;
        @include orange-btn($orange);
        text-transform: uppercase;
        @include border-radius(3px);
        font-size: 14px;
        padding: 14px 15px 12px 15px;
        width: 185px;
        text-align: center;
    }
}

.wrapCard {
    padding: 0 12px 15px;
}


.col-courses-card {
    box-shadow: 0 0 10px #d0d0d0;
    border: 1px solid #cfcfcf;
    @include border-radius(5px);
    // overflow: hidden;
    
    .courseCover {
        min-height: 180px;
        line-height: 0px;
        border-bottom: 1px solid #cfcfcf;
        background-size: cover;
        background-position:center;
    }
    .courseCard-detail {
        min-height: 180px;
        h2 {
            font-weight: bold;
            color: #262627;
            margin: 0px;
            padding: 3px 0 7px 0;
            font-size: 18px;
            line-height: 1.2;
            // min-height: 53px;
            a{
                color: #262627;
            }
        }
        h4{
            padding-top: 13px;
            color: #7f7f80;
            font-size: 14px;
        }
        h3 {
            color: #7f7f80;
            font-weight: normal;
            font-size: 18px;
        }
        ul {
            color: #999;
            padding-top: 5px;
            overflow: hidden;
            li {
                position: relative;
                display: block;
                padding-left: 25px;
                font-size: 14px;
                padding-bottom: 12px;
                line-height: 1.15;
                &:last-child{
                    padding-bottom: 0px;
                }
                &:before {
                    position: absolute;
                    background-image: url('../images/tag-arrow.svg');
                    background-repeat: no-repeat;
                    background-position: 0px 4px;
                    background-size: 15px;
                    content: "";
                    display: inline-block;
                    height: 25px;
                    width: 25px;
                    left: 0;
                    @include opacity(0.6);
                }
                a {
                    color: #7f7f80;
                    display: black;
                    font-size: 14px;
                }
            }
        }
    }
    .viewDetailcard {
        color: #999;
        overflow: hidden;
        text-align: center;
        .fa {
            vertical-align: middle;
            font-size: 18px;
            padding-right: 5px;
            position: relative;
            top: -1px;
        }
        .course_period {
            display: inline-block;
            font-size: 12px;
            padding:0 5px;
            width: auto;
            text-align: center;
            & + .course_period{
                position: relative;
                &:before{
                    content: '';
                    display: inline-block;
                    height: 13px;
                    width: 1px; 
                    background: #999;
                    top: 1px;
                    position: absolute;
                    left: 0;
                }
            }
            .icon-calendar{
                position: relative;
                top: -2px;
            }
            &:last-child {
                padding-right: 4px;
            }
        }
        .btn-te {
            width: 140px;
            margin: 0 auto;
            overflow: hidden;
            padding: 3px 0 0;
        }
        .redir_btn-a {
            display: inline-block;
            @include orange-btn(#2d4791);
            text-transform: uppercase;
            @include border-radius(3px);
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;;
            &:hover {
                background-color: #2d4791;
            }
        }
    }
}
.lazyLoad, .popular_course{
    display: inline-block;
    padding: 14px 35px 12px 35px;
    background-color: #2d4791;
    color: #ffffff;
    @include border-radius(3px);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    min-width: 150px;
    &:hover, &:focus{
        color: $white;
    }
}
.popular_course{
    background-color: $orange;
    display: none;
    position: relative;
    top: 35px;
}

// media query for card
// iPad and till 1180
@media only screen and (max-width: 1180px) and (min-width: 1024px) {
    .col-courses-card {
        
        .courseCard-detail {
            min-height: 140px;
        }
        .viewDetailcard {
            .redir_btn-a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .contain-search .course-list-widget .col-courses-card{
        width: 44%;
    }
}

// below iPad
@media only screen and (max-width: 1023px) {
    .col-courses-card {
        .courseCard-detail {
            min-height: 140px;
        }
        .viewDetailcard {
            .redir_btn-a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .contain-search {
        padding-bottom: 0px;
        .course-list-widget {
            // margin: 0 -15px 0 0px;
            padding-right: 15px;
            padding-top: 5px;
            .te_course_list{
                margin: 0 -15px;
            }
            .col-courses-card {
                width: 46%;
                margin: 0 15px 26px 15px;
                margin-right: 0px;
                &:nth-child(2n){
                    float: right;
                    margin-right: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .user_search_course .redir_btn-a{
        text-align: left;
    }
}

// below iPhone6 plus and target 6
@media only screen and (max-width: 735px) {
    .contain-search .course-list-widget .col-courses-card{
        width: 45.5%;
    }
    .col-courses-card {
        .courseCard-detail {
            ul li {
                width: 100%;
                float: none;
            }
        }
        .viewDetailcard {
            .redir_btn-a {
                padding-left: 9px;
                padding-right: 9px;
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 735px) and (min-width: 667px) {
    .col-courses-card {
        .courseCard-detail {
            ul li {
                width: 100%;
                float: none;
            }
        }
    }
}

@media only screen and (min-width: 667px) and (max-width: 690px) {
    .col-courses-card{
        .viewDetailcard{
            display: block;
            .btn-te{
                margin: 0 auto;
                padding-top: 8px;
                float: none;
                display: table;
            }
            .course_period{
                    padding-right: 0px;
                    padding-left: 10px;
                    display: inline-block;
                    .icon-calendar{
                        top: 0;
                    }

                &:nth-child(2){
                    text-align: right;
                    padding-right: 0px;
                    padding-left: 10px;
                }
            }
        }
    }
}
// below iPhone6 make single card
@media only screen and (max-width: 666px) {
    .contain-search {
        .course-list-widget {
            .te_course_list{
                margin: 0;
            }
            .col-courses-card {
                width: 100%;
                float: none;
                max-width: 380px;
                margin: 0 auto 30px auto;
                float: none !important;
                // display: table !important;
                &:nth-child(2n) {
                    margin-right: auto;
                }
                .viewDetailcard {
                    display: block;
                    .course_period {
                        &:nth-child(2n) {
                            text-align: right;
                            padding-right: 0px;
                        }
                    }
                    .btn-te {
                        display: block;
                        width: 160px;
                        padding-top: 15px;
                        float: none;
                        text-align: center;
                        overflow: hidden;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .redir_btn-a {
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                }
            }
            & .fail{
                .col-courses-card {
                    display: none !important;
                }
            }
        }
    }
}



.overScroll{
    // max-height: 162px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-bottom: 25px;
    -webkit-overflow-scrolling: touch;
}


.filter-widget {
    .reset,
    .filterIcon {
        font-size: 13px;
        text-transform: uppercase;
        color: #2f2f2f;
        border-bottom: 1px solid #2f2f2f;
        margin-bottom: 10px;
        margin-top: 25px;
        display: inline-block;
        padding: 0;
    }
    h3 {
        color: #5e5e5e;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid #5e5e5e;
        padding: 5px 0;
        .close {
            font-size: 37px;
            margin-top: -8px;
        }
    }
    ul {
        margin-top: 11px;
        max-height: 150px;
        overflow-y: auto;
        li {
            margin: 0px 0 10px 0;
        }
    }
    label {
        color: $colorTitle;
        font-size: 14px;
    }
    .redir_btn-a a {
        display: block;
        @include orange-btn($orange);
        text-transform: uppercase;
        @include border-radius(3px);
        font-size: 14px;
        padding: 16px 15px;
        width: 175px;
        margin: 15px auto 0;
    }
}

.callActionFilter{
    button{
        background-color: $orange !important;
        @include border-radius(0);
        display: inline-block;
        font-family: $te-font;
        font-size: 13px !important;
        text-transform: uppercase;
        font-weight: normal !important;
        padding: 10px 20px 8px 20px;
        color: #fff !important;
        border: none !important;
        outline: none;
        @include transition(all 200ms linear);
        position: relative;
        float: none;
        text-shadow: none;
        min-width: 150px;
        @include opacity(1);
        text-shadow: none;
        line-height: 1.2;
        margin: 5px 5px !important;
        &:hover{
            @include transition(all 100ms linear);
            color: $white;
            @include opacity(1);
            background-color: $blueBg;
        }
    }
}


@media only screen and (min-width: 768px) and (max-width: 1180px){
    .te_faculty_list {
        li{
            margin-left: 0;
            width: 50%;
        }
        .courseCover{
            margin: 0 auto;
            float: none;
        }
        .wrapCard{
            width: 100%;
            padding: 15px;
            text-align: center;
        }
    }
    .contain-search{
        padding-top: 20px;
    }
}


@media only screen and (min-width: 1024px){
    .filterIcon {
        display: none !important;
    }
    .filter-widget h3 .close {
        display: none !important;
    }
    .callActionFilter{
        display: none;
    }
    .filter-list {
        display: block !important;
    }
    .filter-widget {
        padding: 0 15px 0 0;
    }
}
@media only screen and (max-width: 1023px){
    .overScroll{
        max-height: inherit;
        overflow-y: auto;
        overflow-x: auto;
        margin-top: 15px;
        margin-bottom: 25px;
        height: auto !important;
    }
    .filter-widget .redir_btn-a,
    .reset {
        display: none !important;
    }
    .callActionFilter{
        display: block;
        text-align: center;
        .reset{
            display: inline-block !important;
        }
    }
    .filter-list{
        display: none;
        max-width: 560px;
        background: #fff;
        margin: 0 auto;
        padding: 15px !important;
        ul{
            max-height: none;
        }
    }
    .filterIcon{
        display: block;
    }
}

@media only screen and (max-width: 767px){
    .te_faculty_list {
        li{
            margin-left: 0;
            width: 100%;
        }
    }
    .contain-search{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 567px){
    .te_faculty_list {
        li{
            width: 100%;
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        .courseCover{
            margin: 0 auto;
            float: none;
        }
        .wrapCard{
            width: 100%;
            padding: 15px;
            text-align: center;
        }
    }
}






// might like style
.te-Popular-courses {
    padding: 0px 0 35px 0;
    h2 {
        @include title-h2(#141414, $oswalt, $titleSize);
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
    }
}

.popularCourseCard > .row{
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .te-Popular-courses {
        padding-bottom: 0px;
        h2 {
            font-size: 25px;
        }
    }
}

/* ~~~~~~~~~~~ Popular courses section ~~~~~~~~~~~ */
.te-Popular-courses{
    padding: 0;
    h2{
        @include title-h2($headingColor, $oswalt, $titleSize);
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin-top: 0;
    }
}

.popularCourseCard{
    padding: 15px 0;
    margin-top: 20px;
    ul{
        li{
            padding-left: 10px;
            padding-right: 10px;
            &.open {
                // box-shadow: 0 0px 5px #bfbfbf;
                position: relative;
                .bottom_course{
                    // display: none;
                    // padding: 11px 15px;
                }
                .left{
                    padding-right: 0px;
                    padding-left: 0px;
                    // line-height: 0px;
                }
                .right{
                    padding: 15px;
                    // position: static;
                    display: block;
                    box-shadow: 0 2px 4px #bfbfbf;
                    h3{
                        font-size: 18px;
                        line-height: 1.2;
                        color: $black;
                        margin-bottom: 7px;
                    }
                    h4{
                        color: #8d8d8d;
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                    p{
                        color: $black;
                    }
                    .knowMore-btn{
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        a{
                            @include orange-btn($blueBg);
                            padding-left: 25px;
                            padding-right: 25px;
                            display: inline-block;
                            font-size: $baseSize;
                            color: $white;
                            &:hover{
                                background:$blueBg; 
                            }
                        }
                    }
                }
            } 
        }
        .cardBig{
            background: $white;
            max-height: 335px;
            min-height: 334px;
        }
    }
    .cardSmall{
        box-shadow: 0 0px 3px #bfbfbf;
        background-color: $white;
        .bottom_course{
            padding: 11px 15px;
            min-height: 66px;
        }
        h3{
            font-size: 18px;
            line-height: 1.2;
            color: $black;
            margin-bottom: 7px;
            a{
                color: $black;
                display: block  !important;
                &:hover{
                    color: $blueBg;
                }
            }
        }
        h4{
            color: #8d8d8d;
            font-size: 16px;
            margin-bottom: 7px;
        }
        img{
            line-height: 0px;
        }
        .right{
            display: none;
            position: absolute;
            top: 0px;
            left: 100%;
            min-width: 390px;
            background-color: $white;
            z-index: 1;
            bottom: 0px;
        }
    }  
}



// common issues
input[type="text"] {
    border: 1px solid transparent;
    padding: .5em;
    border-radius: 2px;
}

input[type="text"]:focus {
    outline: 0 none;
    border-color: #68b8c4;
}

.controls button {
    background: none;
    outline: none;
    border: none;
}

.controls {
    // background: #333;
    // padding: 2%;
}

fieldset {
    // display: inline-block;
    // vertical-align: top;
    // margin: 0 1em 0 0;
    // background: #666;
    // padding: .5em;
    // border-radius: 3px;
}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    padding-bottom: 15px;
    margin: 0;
    @include checkBox();
    &:last-child{
        margin-bottom: 0px;
    }
}

.checkbox input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 3;
}


.container .mix {
    display: none;
}


/**
 * Fail message styles
 */

.course-list-widget .fail-message {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    transition: 150ms;
}

.course-list-widget .fail {
    .fail-message {
        opacity: 1;
        pointer-events: auto;
    }
    .lazyLoad{
        display: none;
    }
    .popular_course{
        display: inline-block;
    }
}

.course-list-widget .fail-message:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.course-list-widget .fail-message span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
}

.course-list-widget.fail .fail-message {
    opacity: 1;
    pointer-events: auto;
}






/*  ie 10 and 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .col-courses-card .viewDetailcard .course_period{
        width: 25%;
    }
}