@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?62rqbk");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/icomoon.ttf") format("truetype"), 
  url("../fonts/icomoon.woff") format("woff"), 
  url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-partnership:before {
  content: "\e943";
}
.icon-business-management:before {
  content: "\e926";
}
.icon-Brand-management:before {
  content: "\e944";
}
.icon-data-anaylsis2:before {
  content: "\e945";
}
.icon-alert:before {
  content: "\e946";
}
.icon-Live-Intractive:before {
  content: "\e947";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-call:before {
  content: "\e902";
}
.icon-certificate-course:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-course:before {
  content: "\e906";
}
.icon-down-arrow:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-education:before {
  content: "\e909";
}
.icon-fast-growing:before {
  content: "\e90a";
}
.icon-finace:before {
  content: "\e90b";
}
.icon-help:before {
  content: "\e90c";
}
.icon-hrm2:before {
  content: "\e90d";
}
.icon-last-mile:before {
  content: "\e90e";
}
.icon-left-_arrow:before {
  content: "\e90f";
}
.icon-linked-in:before {
  content: "\e910";
}
.icon-marketing:before {
  content: "\e911";
}
.icon-my-course:before {
  content: "\e912";
}
.icon-our-purpose:before {
  content: "\e913";
}
.icon-our-usp:before {
  content: "\e914";
}
.icon-our-visoin:before {
  content: "\e915";
}
.icon-play_button:before {
  content: "\e916";
}
.icon-profile:before {
  content: "\e917";
}
.icon-rapid:before {
  content: "\e918";
}
.icon-refer-and-earn:before {
  content: "\e919";
}
.icon-technology:before {
  content: "\e91a";
}
.icon-well-paid-jobs:before {
  content: "\e91b";
}
.icon-back_arrow:before {
  content: "\e91c";
}
.icon-batches:before {
  content: "\e91d";
}
.icon-bell:before {
  content: "\e91e";
}
.icon-call-copy:before {
  content: "\e91f";
}
.icon-call2:before {
  content: "\e920";
}
.icon-career:before {
  content: "\e921";
}
.icon-cases:before {
  content: "\e922";
}
.icon-certificate-_course:before {
  content: "\e923";
}
.icon-certificates-2:before {
  content: "\e924";
}
.icon-classes:before {
  content: "\e925";
}
.icon-data-anaylsis:before {
  content: "\e927";
}
.icon-data-science:before {
  content: "\e928";
}
.icon-down_arrow:before {
  content: "\e929";
}
.icon-download2:before {
  content: "\e92a";
}
.icon-email:before {
  content: "\e92b";
}
.icon-entrepreneuship:before {
  content: "\e92c";
}
.icon-facebook:before {
  content: "\e92d";
}
.icon-google:before {
  content: "\e92e";
}
.icon-graduated:before {
  content: "\e92f";
}
.icon-hrm:before {
  content: "\e930";
}
.icon-Info:before {
  content: "\e931";
}
.icon-innovative_techonology:before {
  content: "\e932";
}
.icon-learning:before {
  content: "\e933";
}
.icon-left-arrow:before {
  content: "\e934";
}
.icon-mail:before {
  content: "\e935";
}
.icon-management:before {
  content: "\e936";
}
.icon-marketing2:before {
  content: "\e937";
}
.icon-minus:before {
  content: "\e938";
}
.icon-play:before {
  content: "\e939";
}
.icon-plus:before {
  content: "\e93a";
}
.icon-project:before {
  content: "\e93b";
}
.icon-search:before {
  content: "\e93c";
}
.icon-selfie-scan:before {
  content: "\e93d";
}
.icon-Tick:before {
  content: "\e93e";
}
.icon-twitter:before {
  content: "\e93f";
}
.icon-video:before {
  content: "\e940";
}
.icon-weekend:before {
  content: "\e941";
}
.icon-Suggested-course:before {
  content: "\e942";
}
.icon-alumni:before {
  content: "\e948";
}
.icon-virtual-classroom:before {
  content: "\e949";
}
.icon-study-material:before {
  content: "\e94a";
}
.icon-class-schedule:before {
  content: "\e94b";
}
.icon-cloud-campus:before {
  content: "\e94c";
}
.icon-case-study:before {
  content: "\e94d";
}
.icon-alumni-network:before {
  content: "\e94e";
}

